{{#if playing.song.duration}}
  <div class="song-info">
    <span class="title">{{playing.song.title}}</span>
    <span class="album">{{playing.song.artist}} | {{playing.song.album}}</span>
  </div>
{{/if}}
<div class="time-indicator">
  <span class="position">{{seconds-to-readable playing.progress}}</span>
  <div class="progress-bar" onclick={{action 'pickTime'}}>
    <div class="progress" style={{width}}></div>
  </div>
  <span class="media-length">{{seconds-to-readable playing.song.duration}}</span>
</div>
<div class="actions">
  <button class="button" title="Previous Song" {{action 'goPrevious'}}><i class="fa fa-3x fa-backward"></i></button>
  <button class="button pauseplay" title="Pause/Play" {{action 'pausePlay'}}>
    {{#if playing.paused}}
      <i class="fa fa-3x fa-play"></i>
    {{else}}
      <i class="fa fa-3x fa-pause"></i>
    {{/if}}
  </button>
  <button class="button" title="Next Song" {{action 'goNext'}}><i class="fa fa-3x fa-forward"></i></button>
</div>