<td class={{if isActive 'active' ''}}>{{song.title}}</td>
<td class={{if isActive 'active' ''}}>{{song.artist}}</td>
<td class={{if isActive 'active' ''}}>{{song.album}}</td>
<td class={{if isActive 'active' ''}}>{{seconds-to-readable song.duration}}</td>
<td class={{if isActive 'active' ''}}>{{song.service}}</td>